.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
img {
  max-width: 100%;
  display: block;
}
.photo-card {
  margin: 5px;
  width: 20%;
  border: 1px Black;
}
.info {
  display: flex;
  text-align: center;
}
.info-item {
  margin-right: 5px;
}
.disable-button {
  display: none;
}
.load-more {
  display: none;
  margin: 0 auto;
}
button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover span {
  padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}
input {
  width: 30%;
  font-size: 50px;
  border-radius: 8px;
  padding-left: 10px;
}
.search-form {
  display: flex;
  margin: 10px;
}
